# Next.js アプリケーション用の環境変数
## API 設定
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_API_VERSION=v1
# NEXT_PUBLIC_TURNSTILE_SITE_KEY=
# テスト用 key
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
# NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA # 必ず合格
NEXT_PUBLIC_TURNSTILE_SITE_KEY=3x00000000000000000000FF # フォースインタラクティブチャレンジ


# サーバー側フォーム連携
# CLOUDFLARE_TURNSTILE_SECRET_KEY=
# テスト用 secret key
CLOUDFLARE_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

# お問い合わせフォーム送信用 Discord Webhook
DISCORD_WEBHOOK_URL=
DISCORD_WEBHOOK_USERNAME=Next.js Contact Form
DISCORD_WEBHOOK_AVATAR_URL=

# ログレベル (0: silly, 1: trace, 2: debug, 3: info, 4: warn, 5: error, 6: fatal)
LOG_LEVEL=3
NEXT_PUBLIC_LOG_LEVEL=5
